<%- include("../components/header"); %>

<div class="">
  <!-- about -->
  <!-- about -->
  <!-- about -->
  <!-- about -->

  <section class="h100 about" id="about">
    <div>
      <h1 class="ml7 text-center">
        <span class="text-wrapper">
          <span class="letters ft-2">BYT3LAB</span>
        </span>
      </h1>

      <h3 class="p-2 text-center">
        <span class="ft-5">" qui sommes nous "</span>
      </h3>

      <div class="text-center mt-5">
        <a href="#about1" class="bi bi-arrow-down btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="h100 about1" id="about1">
    <div class="p-3 scroll bg-white" style="max-width: 800px;">
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci mollitia sint iusto, nobis culpa fuga amet asperiores fugit dolor excepturi, aut natus id porro aperiam aspernatur cupiditate quidem iure veniam?
      </p>

      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci mollitia sint iusto, nobis culpa fuga amet asperiores fugit dolor excepturi, aut natus id porro aperiam aspernatur cupiditate quidem iure veniam?
      </p>

      <div class="text-center mt-5">
        <a href="#services" class="bi bi-arrow-down btn btn-dark"></a>
      </div>
    </div>
  </section>
  <!-- about -->


  <!-- services -->
  <!-- services -->
  <!-- services -->
  <!-- services -->
  <section class="h100 services" id="services">
    <div class="p-3">
      <h1 class="text-center ft-2">
        Vous-avez des besoins?
      </h1>
      <h3 class="p-2 text-center">
        <span class="ft-5">" nos services "</span>
      </h3>

      <div class="text-center mt-5">
        <a href="#services1" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#about" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="h100 services1" id="services1">
    <div class="scroll p-3" style="max-width: 800px;;">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-7.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2"># Développement logiciel</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/service/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-7.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2"># Conception visuel & graphique</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/service/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-7.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">#  Communication & Marketing digitale</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/service/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-7.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2"># Réseaux & télécom</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/service/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-7.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2"># Stages & Formations</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/service/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5 p-3">
        <a href="#produits" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#services" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>
  <!-- services end-->

  <!-- produits -->
  <!-- produits -->
  <!-- produits -->
  <section class="h100 produits" id="produits">
    <div class="p-3">
      <h1 class="text-center ft-2">
        Nous avons peut-être ce qu'il vous faut
      </h1>
      <h3 class="p-2 text-center">
        <span class="ft-5">" nos produits "</span>
      </h3>

      <div class="text-center mt-5">
        <a href="#produits1" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#services" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="h100 produits1" id="produits1">
    <div class="p-3 scroll" style="max-width: 800px;">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">#  Name soft 1 (CRM)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/product/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">#  Name soft 2 (CMS)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/product/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/p/portfolio-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">#  Name soft 3 (SAAS)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted"><a href="/<%=lang%>/product/id" class="btn btn-outline-primary">plus de détails</a></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="#equipe" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#produits" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>
  <!-- produits end-->


  <!-- equipe -->
  <!-- equipe -->
  <!-- equipe -->
  <!-- equipe -->
  <section class="h100 equipe" id="equipe">
    <div class="p-3">
      <h1 class="text-center ft-2">
        Nous sommes passionnées et ambitieux
      </h1>
      <h3 class="p-2 text-center">
        <span class="ft-5">" nottre équipe "</span>
      </h3>

      <div class="text-center mt-5">
        <a href="#equipe1" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#produits" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="h100 equipe1" id="equipe1">
    <div class="p-3 scroll" style="max-width: 800px;">        
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/b/gallery-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">Name member 1 (CEO)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/b/gallery-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">Name member 2 (CTO)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/b/gallery-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">Name member 3 (CM)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/b/gallery-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">Name member 4 (BD)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/imgs/b/gallery-8.jpg" class="img-fluid rounded-start" alt="..." style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title ft-2">Name member 5 (Project Manger)</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="#career" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#equipe" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>

  <!-- equipe end -->
  
  <!-- career -->
  <!-- career -->
  <!-- career -->
  <!-- career -->
  <section class="h100 career" id="career">
    <div>
      <h1 class="p-2 text-center">
        <span class="ft-2">Libérez votre potentielle</span>
      </h1>
      <h3 class="p-2 text-center">
        <span class="ft-5">" rejoiniez-nous et construisons ensemble "</span>
      </h3>

      <div class="text-center mt-5">
        <a href="#career1" class="bi bi-arrow-down btn btn-dark"></a>
        <a href="#equipe" class="bi bi-arrow-up btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="h100 career1" id="career1">
    <div class="p-3 scroll bg-white" style="max-width: 800px;">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quam distinctio fugiat accusamus, nulla maiores cumque eius accusantium, placeat vero laudantium eum magnam repudiandae voluptas alias nemo ducimus, ut repellat.
      </p>
      <div><a href="" target="_blank" class="btn btn-outline-primary">consulter nos offres d'emplois</a></div>
    </div>
  </section>
  <!-- career end -->

  <section class="mt-5 p-3 bg-white">
    <h5 class="text-center">Ils nous fonts confiances</h5>
  </section>
</div>

<%- include("../components/footer"); %>