<div class="bg-dark"><a href="#top" class="bi bi-arrow-up btn btn-dark w-100"> <%= t.back_up %></a></div>
<footer class="">
  <div class="p-3 bg-dark row p-0 text-white">
    <div class="col-lg-4 col-md-6 p-2 col-12">
      <h2><%= t.entreprise %></h2>
      <div>
        <ul>
          <li><a href="/<%= lang %>#about"><%= t.about %></a></li>
          <li><a href="/<%= lang %>#services"><%= t.services %></a></li>
          <li><a href="/<%= lang %>#produits"><%= t.products %></a></li>
          <li><a href="/<%= lang %>#equipe"><%= t.team %></a></li>
          <li><a href="/<%= lang %>#career"><%= t.career %></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-2 col-12">
      <h2><%= t.contact %></h2>
      <ul>
        <li><a href="tel:+237678965412" class="bi bi-phone"> +237678965412</a></li>
        <li><a href="tel:+237698754123" class="bi bi-phone"> +237698754123</a></li>
        <li><a href="https://api.whatsapp.com/237695482345" class="bi bi-whatsapp"> +237695482345</a></li>
        <li><a href="mailto:exemple@gmail.com" class="bi bi-envelope"> mail@gmail.com</a></li>
        <li><a href="" class="bi bi-geo"><abbr title="BP 185 cité verte, youndé Cameroun">BP 185 cité verte, youndé Cameroun</abbr></a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 p-2 col-12">
      <h2><%= t.follow_us %></h2>
      <ul>
        <li><a href="" target="_blank" class="bi bi-linkedin"> Linkedin</a></li>
        <li><a href="" target="_blank" class="bi bi-facebook"> Facebook</a></li>
        <li><a href="" target="_blank" class="bi bi-twitter"> Twitter</a></li>
        <li><a href="" target="_blank" class="bi bi-youtube"> Youtube</a></li>
        <li><a href="" target="_blank" class="bi bi-globe"> Blog</a></li>
      </ul>
    </div>
  </div>
  <div class="bg-light p-3 ft-2 text-center">
    <strong>&copy; 2022 BYT3LAB.</strong>
  </div>
</footer>

<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/vendor/animejs/anime.min.js"></script>
<script src="/assets/vendor/scrollreveal//dist/scrollreveal.min.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript" id="hs-script" src="https://js-eu1.hs-scripts.com/26325932.js"></script>

</body>
</html>